:root {
	/* colors */
	/* --primary: #f91547; */
	--primary: hsl(1deg 100% 68%);
	--filter-primary: invert(52%) sepia(29%) saturate(5226%) hue-rotate(326deg) brightness(107%)
		contrast(101%);
	--secondary: hsla(0, 0%, 83%, 0.5);
	--background: hsl(120, 33%, 1%);
	--contrast: hsl(0, 0%, 83%);

	/* effects */
	--shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	--glow: var(--contrast) 0px 16px 50px 3px;

	/* sizing */
	--max-width: 500px;
	--padding: 0.5rem;
	--controls-height: 7rem;

	/* typo */
	--f-family: Verdana, sans-serif;
	--f-size-l: 2rem;
	--f-size-m: 1rem;
	--f-size-s: 0.8rem;
}

html {
	background-color: var(--background);
	font-family: var(--f-family);
}

* {
	color: var(--contrast);
}

@media screen and (min-width: 64rem) {
	:root {
		--glow: none;
		--f-size-l: 4rem;
		--f-size-m: 1.6rem;
		--f-size-s: 1.3rem;
		--max-width: 64rem;
	}
}
